demandlib==0.2.2
folium==0.20.0
branca==0.8.2
geopy==2.4.1
matplotlib==3.10.8
numpy==2.4.3
pandas==2.3.3
Pillow==12.1.1
plotly==6.6.0
requests==2.32.5
streamlit==1.55.0
XlsxWriter==3.2.9
protobuf~=6.33.5
altair==6.0.0
streamlit-folium==0.26.2
